body {
  /* background: linear-gradient(to bottom right, #b968c5, skyblue); */
  background-color: rgb(225, 220, 209);
}

.divClass {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 100px;
  font-family: cursive;
  color: dimgray;
  font-weight: bold;
}
