body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom right, #b968c5, skyblue);
}

.divClass {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 100px;
  font-family: cursive;
  color: dimgray;
  font-weight: bold;
}
