body {
  /* background: linear-gradient(to bottom right, #b968c5, skyblue); */
  /* background: linear-gradient(to top, #d7d2c7,  transparent); */
  background: linear-gradient(to top, #f0f0f0, transparent);
  background-size: 100% 20px;
  background-attachment: fixed;
}

.divClass {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 100px;
  font-family: cursive;
  color: dimgray;
  font-weight: bold;
}
